<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Chats</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Mini chats</h1>
    <div class="container">
      <div class="chat-box">
        <div class="chat-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5962/5962463.png" alt="" width="50" />
        </div>
        <div class="chat">
          <% for(let chat of chats){ %>
            
          <div class="chat-item">
            <div class="action">
              <a class="edit" href="/edit/<%= chat._id %>">Edit</a>
              <a class="delete" href="/delete/<%= chat._id %>">Delete</a>
            </div>
            <div class="right-side">
              
              <div class="chat-content">
                <span class="from"><%= chat.from %></span>
                <span class="message"><%=chat.msg %></span>
                <span class="to"><%=chat.to %></span>
              </div>

              <div class="dateTime">
                <p class="date">
                  <%= chat.date.toString().split(" ").slice(1,4).join("-") %>
                <p class="time"><%= chat.date.toString().split(" ")[4] %></p>
  
                </p>
              </div>
            </div>
            
            
          </div>
          <% } %>
        </div>
      </div>

      <div class="send-box">
        <form action="/" method="POST">
          <h3>Send Message</h3>
          <input type="text" name="from" placeholder="From" />
          <input type="text" name="to" placeholder="To" />
          <input type="text" name="msg" placeholder="Message" />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
